/build/Debug
/build/Release
/build/gyp
/buildtools
/out
/testing/corpus
/testing/gmock
/testing/gtest
/third_party/llvm
/third_party/llvm-build
/third_party/skia
/tools/clang
/v8
/xcodebuild
Makefile
.DS_Store
.gclient
.gclient_entries
*.aps
*.filters
*.mk
*.opensdf
*.pyc
*.sdf
*.sln
*.suo
*.user
*.vcxproj
*.xcodeproj
