# Schema for this config file: ProjectConfig in
# luci-config.appspot.com/schemas/projects:tricium-prod.cfg

acls {
  role: REQUESTER
  group: "tricium-infra-requesters"
}

selections {
  function: "GitFileIsolator"
  platform: UBUNTU
}

selections {
  function: "Spacey"
  platform: UBUNTU
}

repos {
  gerrit_project {
    host: "pdfium-review.googlesource.com"
    project: "pdfium"
    git_url: "https://pdfium.googlesource.com/pdfium"
  }
}

service_account: "tricium-prod@appspot.gserviceaccount.com"
swarming_service_account: "swarming@tricium-prod.iam.gserviceaccount.com"
